.breadcrumbs {
    margin-top: 40px;
    margin-bottom:20px;
    font-size: 14px;
    opacity: 0.8;
    font-style: italic;
}

.breadcrumbs-item__link {
    color: #f89513;
}

.breadcrumbs__item:last-child .breadcrumbs-item__link {
    text-decoration: none;
    color: #000;
}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__item::after {
    content: " / ";
}

.breadcrumbs__item:last-child:after {
    display: none;
}