.main__top-news{
    flex: 0 1 20%;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 20px;
    
}

.top-news__title{
    color: #221f1f;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 21px;
    text-transform: uppercase;
}

.top-news__mounts{ 
    color: #656464;
    letter-spacing: 2px;
    line-height: normal;
    font-size: 13px;
    text-transform: uppercase;
}

.top-news__preview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.top-news__img{
    width: 160px;
    height: 120px;
    margin-bottom: 20px;
}

