@font-face {
    font-family: 'Gora-Free';
    src: url(./Gora-Free.woff2') format('woff2');
    src: url('./Gora-Free.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}