
.header{
    background:#131415;
    min-height: 75px;  
}

.header__menu,
.header__logo,
.header__info{
    display: inline-block;
    vertical-align: middle;
    width: 350px; 
}

.header__info{ 
    text-align: right;
    
}

.menu__link{
    text-decoration: none;
    color: #fff;
}

.menu__item{
    display: inline-block;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.item__pic{
    width: 20px;
    height: 20px;
    display: inline-block;
}

.item__text{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0px 11px;
    
    
}

.info__tel{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 21px;
    font-weight:bold ;
    text-transform: uppercase;
    text-decoration: none;
}

.info__schedule--link {
    opacity: 0.7;
    color: #f89513;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.logo__link{
    color:#f89513;
    font-family: "Gora-Free";
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
